.ball {
  --x: 50;
  --y: 50;

  position: absolute;
  border-radius: 50%;
  background-color: var(--foreground-color);
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
}
