.paddle {
  --position: 50;
  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}
